<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Bancário TADS044 - Cadastro Cliente</title>
</head>

<body>
    <div class="container center">
        <h2> .:: Sistema Bancário TADS044 ::. </h2>
        <a href="/" class="waves-effect waves-light btn"><i class="material-icons left">home</i> Home</a>
        <a href="/cadastrarCliente" class="waves-effect waves-light btn"><i
                class="material-icons left">add_circle_outline</i>Cadastrar Clinte</a>
        <a href="/listarClientes" class="waves-effect waves-light btn"><i class="material-icons left">list</i> Listar
            Clientes</a>
    </div>
    <br><br>
    <div class="container">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>                    
                    <th>RG</th>
                    <th>Data Nascimento</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td><span th:text="${cliente.cpf}"></span></td>
                    <td><span th:text="${cliente.nome}"></span></td>
                    <td><span th:text="${cliente.rg}"></span></td>
                    <td><span th:text="${cliente.dataNasc}"></span></td>
                    <td><span th:text="${cliente.email}"></span></td>
                    <td><span th:text="${cliente.telefone}"></span></td>
                    <td>
                        <a th:href="@{/detalharCliente/{cpf}(cpf=${cliente.cpf})}" class="btn-flat" title="Detalhar">
                            <i class="material-icons">visibility</i>
                        </a>
                        <a th:href="@{/excluirCliente/{cpf}(cpf=${cliente.cpf})}"
                           class="btn-flat red-text"
                           title="Excluir"
                           onclick="return confirm('Confirma exclusão deste cliente?');">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>